@use "base";

%login-element{
    display: block;
    margin: 0 auto;
    margin-top: 2%;
    text-align: center;
}

* {
    box-sizing: border-box;
}

body {
    @include base.back-font-color(base.$first-color, base.$primary-font);
}

h1 {
    text-align: center;
    color: white;
}

.form-element {
    @extend %login-element;
    width: 25%;
}

input {
    width: 100%;
}

#submit-button {
    @include base.back-font-color(base.$second-color, base.$primary-font);
    color: white;
    border: none;

    &:hover {
	background-color: base.$third-color;
    }
}

label {
    color: white;
    display: block;
    font-size: 15px;
    text-align: left;
}

.login-error{
    @extend %login-element;
    font-size: 16px;
    width: 40%;
    border: 1px solid red;
    background-color: whitesmoke;
}

#login-error-message{
    color: red;
}
