@use "base";

* {
    box-sizing: border-box;
}

@mixin navHeader-element($fBasis){
    flex-basis: $fBasis;
    color: white;
}

body {
    color: base.$second-color;
    font-family: base.$primary-font;
    margin: 0;
    background-color: base.$second-color;
}

.box-container {
    display: flex;
    height: 50px;
    align-items: center;
    background-color: base.$first-color;
    font-size: 1rem;
}

#app-name {
    @include navHeader-element(20%)
}

#board {
    @include navHeader-element(60%)
}

#username {
    @include navHeader-element(20%)
}

#boards-area {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;

    h2 {
        text-align: center;
    }
}

.wanted-board {
    border: 1px solid black;
    margin-top: 1%;
    width: 25%;
    background-color: #202324;
    color: whitesmoke;
}

.wanted-element{
    margin: 5px;
    background-color: #454a4d;
    color: white;
}
