@use "base";

$element-color: #454a4d;

* {
    box-sizing: border-box;
}

@mixin navHeader-element($fBasis){
    flex-basis: $fBasis;
    color: white;
}

body {
    color: base.$second-color;
    font-family: base.$primary-font;
    margin: 0;
    background-color: base.$second-color;
}

.box-container {
    display: flex;
    height: 50px;
    align-items: center;
    background-color: base.$first-color;
    font-size: 1rem;
}

#app-name {
    @include navHeader-element(20%);
    border-right: 2px solid white;
    padding-left: 5px;
}

#board {
    @include navHeader-element(60%);
    width: 100%;
    height: 100%;
    margin: 0 2px 0 2px;
    padding-left: 5px;
    &:hover {
        background-color: base.$first-color-clear;
    }

}

#relative-container {
    display: relative;
    padding-top: 15.5px;
    height: 100%;
}

#div-dropdown {
    height: 100%;
}

#dropdown {
    display: none;
    z-index: 1;
    position: absolute;
    border-top: 2px solid rgba(0, 0, 0, 0);

    button {
        display: block;
        outline: none;
        border: none;
        width: 125px;
        height: 30px;
        background-color: base.$first-color;
        color: white;
        font-size: 1.1rem;
        text-align: left;

        &:hover {
            background-color: base.$first-color-clear;
        }
    }
}

#relative-container:hover {
    #dropdown {
        display: block;
    }
}

#username {
    @include navHeader-element(20%);
    border-left: 2px solid white;
    padding-left: 5px;
}

#boards-area {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.wanted-board {
    border: 1px solid black;
    margin-top: 1%;
    width: 25%;
    background-color: #202324;
    color: whitesmoke;

    h2{
        text-align: center;
    }
}

.add-struct {
    display: flex;
    width: 100%;
    align-items: center;

    *{
        flex-grow: 0;
        flex-shrink: 0;
        border: 0;
    }
}

.wanted-element {
    background-color: $element-color;
    color: white;
    width: 85%;
    overflow-wrap: break-word;
    margin: 5px;
}

.delete-element {
    width: 13%;
}



.inv-element {
    display: none;
}

.delete-btn {
    width: 80%;
    padding: 0;
    font-weight: bold;
    border: 1px solid #eeA47fff;
    border-radius: 5px;
    background-color: #ed2B33ff;

}

.add-text {
    width: 80%;
    resize: none;
    background-color: $element-color;
    border: none;
    color: whitesmoke;
    margin: 5px;

    &:focus {
        outline: 2px solid green;
    }
}

.add-btn {
    padding:  2.5% 0 2.5% 0;
    width: 16%;
    margin-left: 0px;
    border: 1px solid #009900;
    border-radius: 5px;
    background-color: #1aff1a;
    color: black;
    font-weight: bold;
    margin: 0 auto 0 auto;
    height: 100%;
}
