doctype html
html
  head
    include includesWanted/form.pug
    title Wanted Boards
    link(rel="stylesheet" type="text/css" href="/styles/ui.css")
  body
    nav(class="flex-container")
      div(id="app-name") Wanted Boards
      div(id="board")
        div(id="relative-container")
          div(id="div-dropdown")= title
          div(id="dropdown")
            for board in boards
              form(method="get" action="/"+username+"/"+board)
                button= board

      div(id="username")= username

    div(id="boards-area")

      +generateForm(username, title, tables.Todo, "Todo")

      +generateForm(username, title, tables.Doing, "Doing")

      +generateForm(username, title, tables.Done, "Done")
